﻿  body, html {
      padding-top: 50px;
      padding-bottom: 20px;
  }
  .body-content {
      padding-left: 15px;
      padding-right: 15px;
  }
  div.ui-datepicker {
      font-size: 100%;
  }

.navbar-form {
    margin: 0 -15px;
}

h2 {
    text-align: center;
    font-family: Verdana;
}