﻿@model InsuranceCompanyApp.Services.ViewModels.RiskViewModel

<br />
<h2>Risk modification</h2>
<hr />

<div class="panel">
    <div class="panel-heading bg-primary">
        <h3 class="panel-title">@ViewData["Title"] risk record</h3>
    </div>
    <div class="panel-body">
        <form asp-action="CreateEditRisk" class="center-block">
            <div class="row form-border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="Name" class="form-control" />
                        </div>
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="YearlyPrice"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="YearlyPrice" class="form-control" />
                        </div>
                    </div>
                    <span asp-validation-for="YearlyPrice" class="text-danger"></span>
                    <br />
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-sm btn-primary" />
                    <a asp-action="Risk" class="btn btn-sm btn-default">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>