﻿@model InsuranceCompanyApp.Services.ViewModels.RiskViewModel

@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete Risk</h2>
<hr />


<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Are you sure you want to delete this risk?</h3>
    </div>
    <div class="panel-body">
        <form asp-action="DeleteRisk">
            <div class="row">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="Name" disabled class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="YearlyPrice"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="YearlyPrice" disabled class="form-control" />
                        </div>
                    </div>
                    <br />
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                    <a asp-action="Risk" class="btn btn-sm btn-default">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>