﻿@model InsuranceCompanyApp.Services.ViewModels.RiskViewModel

@{
    ViewData["Title"] = "Details";
}

<br />
<h2>Risk Details</h2>
<hr />

<div class="panel">
    <div class="panel-heading bg-primary">
        <h3 class="panel-title">Risk Record Details</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="Name" disabled class="form-control" />
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="YearlyPrice"></label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="YearlyPrice" disabled class="form-control" />
                    </div>
                </div><br />
            </div>
            <br />
            <div class="form-group">
                <a asp-action="CreateEditRisk" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Edit</a>
                <a asp-action="Risk" class="btn btn-sm btn-default">Back to List</a>
            </div>
        </div>
    </div>
</div>