﻿@model IEnumerable<InsuranceCompanyApp.Services.ViewModels.RiskViewModel>
@{
    ViewBag.Title = "Risks";
}

<h2>Available risks</h2>

<hr />
<p>
    <a asp-action="CreateEditRisk" class="btn btn-success">Create New Risk</a>
</p>
<br />

<div class="panel panel-default">
    <div class="panel-heading bg-primary">
        <h3 class="panel-title">Risk List</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.YearlyPrice)
                </th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.YearlyPrice)
                    </td>
                    <td>
                        <a asp-action="DetailsRisk" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a>
                        <a asp-action="CreateEditRisk" asp-route-id="@item.Id" class="btn btn-sm btn-success">Edit</a>
                        <a asp-action="DeleteRisk" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

