﻿@{
    ViewBag.Title = "Index";
}

<h3>Welcome to 'NotAScam inc.' insurance company!<span class="label label-default"></span></h3>


<div class="panel panel-default">
    <div class="panel-heading">Currenty supported features:</div>

    <ul class="list-group">
        <li class="list-group-item">New risks can be added to the company</li>
        <li class="list-group-item">Risks that are not used in any policy can be deleted</li>
        <li class="list-group-item">Prices and names of risks can be modified at any time</li>
        <li class="list-group-item">New policies can be created</li>
        <li class="list-group-item">Insured risks can be added to policies</li>
        <li class="list-group-item">Insured risks can be deleted</li>
        <li class="list-group-item">Policies can be deleted along with their insured risks</li>
        <li class="list-group-item">Premiums are automatically recalculated</li>
        <li class="list-group-item">Historical information on policies can be viewed for a given date</li>
    </ul>
</div>
