﻿@model InsuranceCompanyApp.Services.ViewModels.ErrorViewModel



<h1>Error message: @Model.ErrorMessage</h1>
<h4>Requested path: @Model.RouteOfException</h4>

<img src= "@Url.Content(Model.ErrorImagePath)" alt="Image" />

