﻿@{
    ViewBag.Title = "Insurance Company";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insurance Company: @ViewBag.Title</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />


</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">NotAScam inc.</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-controller="App" asp-action="Index" class="nav-link">Index</a></li>
                <li><a asp-controller="Risk" asp-action="Risk" class="nav-link">Risks</a></li>
                <li><a asp-controller="Policy" asp-action="Policy" class="nav-link">Policies</a></li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @Html.Partial("_StatusMessages")
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; 2018 - NotAScam inc.</p>
        </footer>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>