﻿@model InsuranceCompanyApp.Services.ViewModels.PolicyRiskViewModel

@{
    ViewData["Title"] = "Create";
}

<br />
<h2>Add a new risk to policy</h2>
<hr />

<div class="panel">
    <div class="panel-heading bg-primary">
        <h3 class="panel-title">Add Risk</h3>
    </div>
    <div class="panel-body">
        <form asp-action="CreatePolicyRisk" class="center-block">
            <div class="row form-border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(x => Model.RiskName, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(x => Model.RiskName, new SelectList(@Model.AvailableRisks, "Name", "Name"), htmlAttributes: new { @class = "form-control", id = "Country" })
                            @Html.ValidationMessageFor(x => x.RiskName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <span asp-validation-for="RiskName" class="text-danger"></span>
                    <br />

                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="ValidFrom"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="ValidFrom" class="form-control" />
                        </div>
                    </div>
                    <span asp-validation-for="ValidFrom" class="text-danger"></span>
                    <br />

                    <div hidden="hidden">
                        @Html.HiddenFor(model => model.PolicyId)
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Add To Policy" class="btn btn-sm btn-primary" />
                    <a asp-action="DetailsPolicy" asp-route-id="@Model.PolicyId" class="btn btn-sm btn-default">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>
