﻿@model InsuranceCompanyApp.Services.ViewModels.PolicyViewModel

@{
    ViewData["Title"] = "Create";
}

<br />
<h2>New Policy Creation</h2>
<hr />

<div class="panel">
    <div class="panel-heading bg-primary">
        <h3 class="panel-title">Create New Policy</h3>
    </div>
    <div class="panel-body">
        <form asp-action="CreatePolicy" class="center-block">
            <div class="row form-border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="NameOfInsuredObject"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="NameOfInsuredObject" class="form-control" />
                        </div>
                    </div>
                    <span asp-validation-for="NameOfInsuredObject" class="text-danger"></span>
                    <br />

                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="ValidFrom"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="ValidFrom" id="validfrom" class="form-control" />
                        </div>
                    </div>
                    <span asp-validation-for="ValidFrom" class="text-danger"></span>
                    <br />

                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="ValidTill"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="ValidTill" id="validtill" class="form-control" />
                        </div>
                    </div>
                    <span asp-validation-for="ValidTill" class="text-danger"></span>
                    <br />
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create Policy" class="btn btn-sm btn-primary" />
                    <a asp-action="Policy" class="btn btn-sm btn-default">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>
