﻿@model InsuranceCompanyApp.Services.ViewModels.PolicyViewModel

@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete Policy</h2>
<hr />


<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Are you sure you want to delete this policy?</h3>
    </div>
    <div class="panel-body">
        <form asp-action="DeletePolicy">
            <div class="row">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="NameOfInsuredObject"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="NameOfInsuredObject" disabled class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="ValidFrom"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="ValidFrom" disabled class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            <label asp-for="ValidTill"></label>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="ValidTill" disabled class="form-control" />
                        </div>
                    </div>
                    <div hidden="hidden">
                        @Html.HiddenFor(model => model.Id)
                    </div>
                    <br />

                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                    <a asp-action="Policy" class="btn btn-sm btn-default">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>