﻿@model InsuranceCompanyApp.Services.ViewModels.PolicyRiskViewModelCollection

@{
    ViewData["Title"] = "Details";
}

<br />
<h2>Policy Details</h2>
<hr />

<div class="alert alert-info" role="alert">
    @{
        if (DateTime.MaxValue - Model.EffectiveDate < TimeSpan.FromMinutes(5))
        {
            <p>Showing all insured risks</p>
        }
        else
        {
            <p>Showing insured risks with effective date up to: @Model.EffectiveDate.ToShortDateString()</p>
        }
    }

</div>

<div class="panel">
    <div class="panel-heading bg-primary">
        <h3 class="panel-title">Policy Record Details</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.PolicyRiskViewModels.FirstOrDefault().RiskName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.PolicyRiskViewModels.FirstOrDefault().ValidFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.PolicyRiskViewModels.FirstOrDefault().PricePerPeriod)
                </th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model.PolicyRiskViewModels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.RiskName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ValidFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.PricePerPeriod)
                    </td>
                    <td>
                        <a asp-action="DeletePolicyRisk" asp-route-id="@item.Id" asp-route-policyId="@Model.PolicyId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </table>
        <br />

        <div class="navbar">
            <div class="navbar-form navbar-left">
                <a asp-action="CreatePolicyRisk" asp-route-id="@Model.PolicyId" class="btn btn-sm btn-primary">Add Risk To Policy</a>
                <a asp-action="Policy" class="btn btn-sm btn-default">Back to List</a>
            </div>

            <div class="navbar-form navbar-right">
                @{
                    if (DateTime.MaxValue - Model.EffectiveDate > TimeSpan.FromMinutes(5))
                    {
                        @Html.ActionLink("Show All Risks", "DetailsPolicy", "Policy", routeValues: new
                        {
                            id = Model.PolicyId,
                            validFrom = @DateTime.MaxValue
                        }, htmlAttributes: new
                        {
                            @class = "btn btn-sm btn-info"
                        })
                    }
                }
            </div>
        </div>


    </div>
</div>