﻿@model InsuranceCompanyApp.Services.ViewModels.PolicyViewModelCollection
@{
    ViewBag.Title = "Policies";
}

<h2>Policies</h2>

<hr />

<div class="navbar">
    <form class="navbar-form navbar-left" role="search">
        <a asp-action="CreatePolicy" class="btn btn-success">Create New Policy</a>
    </form>

    @using (Html.BeginForm("Policy", "Policy", FormMethod.Post, htmlAttributes: new
    {
        @class = "navbar-form navbar-right"
    }))
    {
        <div class="form-group">
            <input asp-for="EffectiveDate" class="form-control" />
            <span asp-validation-for="EffectiveDate" class="text-danger"></span>

            <button type="submit" class="btn btn-primary">Filter By Effective Date</button>
            @{
                if (Model.EffectiveDate != DateTime.MaxValue)
                {
                    <a asp-action="Policy" class="btn btn-info">Reset</a>
                }
            }
        </div>
    }
</div>

<div class="alert alert-info" role="alert">
    @{
        if (DateTime.MaxValue - Model.EffectiveDate < TimeSpan.FromMinutes(5))
        {
            <p>Showing all policies</p>
        }
        else
        {
            <p>Showing policies with effective date up to: @Model.EffectiveDate.ToShortDateString()</p>
        }
    }

</div>


<div class="panel panel-default">
    <div class="panel-heading bg-primary">
        <h3 class="panel-title">Policy List</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.PolicyViewModels.FirstOrDefault().NameOfInsuredObject)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.PolicyViewModels.FirstOrDefault().ValidFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.PolicyViewModels.FirstOrDefault().ValidTill)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.PolicyViewModels.FirstOrDefault().Premium)
                </th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model.PolicyViewModels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.NameOfInsuredObject)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ValidFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ValidTill)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Premium)
                    </td>
                    <td>

                        @Html.ActionLink("Details", "DetailsPolicy", "Policy", routeValues: new
                        {
                            id = @item.Id,
                            validFrom = @Model.EffectiveDate
                        }, htmlAttributes: new
                        {
                            @class = "btn btn-sm btn-primary"
                        })
                        <a asp-action="DeletePolicy" asp-route-policyId="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
